<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/@gitlab/ui@latest/dist/index.css" rel="stylesheet" crossorigin="anonymous">

    <title>GitLab UI Polish Gallery</title>
    <style>
      body {
        background-color: #f9f9f9;
      }
      .gallery {
        max-width: 960px;
      }
    </style>

    <script>
    window.addEventListener('DOMContentLoaded', () => {
      const params = new URLSearchParams(window.location.search);

      function insertParam(key, value) {
        key = encodeURIComponent(key);
        value = encodeURIComponent(value);
        var kvp = document.location.search.substr(1).split('&');
        let i=0;

        for(; i<kvp.length; i++){
          if (kvp[i].startsWith(key + '=')) {
            let pair = kvp[i].split('=');
            pair[1] = value;
            kvp[i] = pair.join('=');
            break;
          }
        }

        if(i >= kvp.length){
          kvp[kvp.length] = [key,value].join('=');
        }

        // can return this or...
        let params = kvp.join('&');

        // reload page with new params
        document.location.search = params;
      }

      function toggleResetfilters() {
        const resetLink = document.querySelector('[data-name="resetfilters"]');

        window.location.search && resetLink.style.display === 'none' ?
          resetLink.style.display = 'inline-block' :
          resetLink.style.display = 'none';
      }

      function checkResults() {
        const results = document.querySelector('[data-name="results"]');
        const noResults = document.querySelector('[data-name="noresults"]');

        results.querySelectorAll('div').length === 0 ?
          noResults.style.display = 'block' :
          noResults.style.display = 'none';
      }

      document.querySelectorAll('[data-milestone]').forEach((el) => {
        const filteredMilestone = params.get('milestone');

        if (filteredMilestone && el.dataset.milestone !== filteredMilestone) {
          el.remove();
        }

        checkResults();
      });

      document.querySelectorAll('[data-label]').forEach((el) => {
        const filteredLabel = params.get('label');

        if (filteredLabel && !el.dataset.label.includes(filteredLabel)) {
          el.remove();
        }

        document.querySelectorAll('[data-milestone]').forEach((el) => {
          if (el.querySelectorAll('[data-label]').length === 0) {
            el.remove();
          }
        });

        checkResults();
      });

      document.querySelectorAll('.list-inline-item').forEach((el) => {
        el.addEventListener('click', (e) => {
          e.preventDefault();
          insertParam(e.target.getAttribute('data-url-param-name'), e.target.getAttribute('data-url-param-value'));
          toggleResetfilters();
        });
      });

      toggleResetfilters();
      checkResults();
    });
    </script>
  </head>
  <body>
    <div class="container gallery mt-5">
      <div class="bg-white p-4 text-center mb-5">
        <img src="logo.svg" width="50px" class="mb-2">
        <p class="text-monospace">Hello 👋 and welcome to the <strong>GitLab UI Polish Gallery!</strong><br />
        All Merge Requests that have the label
        <% for label, value in @labels %>
          <span class="gl-badge badge-<%= value %> badge-pill sm"><%= label %></span>
        <% end %>
        set and have before and after images in a table will show up here.</p>
        <small class="text-muted text-monospace">
          You want to contribute? You're more than welcome. <br />Please head over to <a href="https://gitlab.com/nicolasdular/gitlab-polish-gallery">gitlab-polish-gallery</a>
        </small>

      </div>

      <div class="mb-3">
        <strong><%= @count %> contributions</strong> by <strong><%= @count_by_author %> contributors</strong> since January 1, 2020
      </div>

      Filter by milestone:
      <ul class="list list-inline">
        <% for milestone in @milestones %>
          <li class="list-inline-item"><a href="?milestone=<%= milestone %>" data-url-param-name="milestone" data-url-param-value="<%= milestone %>"><%= milestone %></a></li>
        <% end %>
      </ul>

      Filter by label:
      <ul class="list list-inline">
        <% for label, value in @labels %>
          <li class="list-inline-item"><a href="?label=<%= label %>" data-url-param-name="label" data-url-param-value="<%= label %>"><%= label %></a></li>
        <% end %>
      </ul>

      <a data-name="resetfilters" href="?" class="gl-button" style="display: none;">Reset filter</a>

      <hr class="mb-3 mt-3" />

      <div data-name="results" class="row row-cols-md-1 g-4 row-cols-1 ">
        <% for (milestone, polishes) in @polishes.group_by { |p| p.milestone } %>
          <div data-milestone="<%= milestone %>">
            <div class="col mb-3">
              <h3>Milestone <%= milestone %></h3>
            </div>

            <% for polish in polishes %>
              <div class="col" data-label="<% for label, value in polish.labels %><%= label %><% end %>">
                <div class="gl-card mb-4">
                  <div class="gl-card-header">
                    <p class="mb-0 align-items-center">
                      <a href="<%= polish.url %>" target="blank"> <%= polish.title %></a> by <a href="https://gitlab.com/<%= polish.username %>" target="blank"><img src="<%= polish.avatar_url %>" class="gl-avatar-s24 rounded-circle"/></a> <a href="https://gitlab.com/<%= polish.username %>" target="blank">@<%= polish.username %></a>
                      <% for label, value in polish.labels %>
                        <span class="gl-badge badge-<%= value %> badge-pill sm"><%= label %></span>
                      <% end %>
                    </p>
                  </div>

                  <div class="gl-card-body d-flex justify-content-center">
                    <table  class="gl-table">
                      <tr>
                        <th>Before</th>
                        <th>After</th>
                      </tr>
                      <% polish.images.each do |image| %>
                        <tr>
                          <td><a href="<%= image[:before] %>" target="blank"><img loading="lazy" src="<%= image[:before] %>" class="img-fluid border rounded border-light p-1" /></a></td>
                          <td><a href="<%= image[:after] %>" target="blank"><img loading="lazy" src="<%= image[:after] %>" class="img-fluid border rounded border-light p-1" /></a></td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div data-name="noresults" class="row row-cols-md-1 g-4 row-cols-1" style="display: none;">
        <div class="col mb-3">
          <h3>No results found.</h3>
        </div>
      </div>
    </div>
</html>
